.login {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 97vh;
  margin: 10px 0px 10px 10px;
}
.loginimage {
  position: relative;
  top: 0;
  left: 490px;
  width: 100px;
  height: 100px;
}
.outlined-basic-half {
  width: 47%;
  height: 30px;
  margin: 5px 5px 10px 10px !important;
}
.outlined-basic-full {
  width: 95%;
  height: 30px !important;
  margin: 10px !important;
}
.outlined-basic-40 {
  width: 36%;
  height: 30px;
  margin: 10px 5px 20px 10px !important;
}
.outlined-basic-60 {
  width: 57%;
  height: 30px;
  margin: 10px 5px 10px 10px !important;
}
.savebutton {
  background-color: #7d45ba;
  border-radius: 360px;
  width: 20%;
}
.datepicker {
  width: 36%;
  height: 30px;
  margin: 10px 5px 20px 10px !important;
}
