.logincontent {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 97vh;
  margin: 20px 0px 0 20px !important;
}
.loginimage {
  width: 123px;
  height: 126px;
  margin-left: 27rem;
}

.outlined-basic-half {
  width: 47%;
  height: 30px;
  margin: 5px 5px 10px 10px !important;
}
.outlined-basic-full {
  width: 95%;
  height: 30px !important;
  margin: 0px 5px 20px 10px !important;
}
.outlined-basic-40 {
  width: 36%;
  height: 30px;
  margin: 10px 5px 20px 10px !important;
}
.outlined-basic-60 {
  width: 57%;
  height: 30px;
  margin: 10px 5px 10px 10px !important;
}
.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.savebutton {
  background-color: #7d45ba !important;
  border-radius: 360px !important;
  width: 20% !important;
  margin: 20px !important;
}
.datepicker {
  width: 36%;
  height: 30px;
  margin: 0px 5px 20px 10px !important;
}

.heading1 {
  width: 200px;
  color: #2d0658 !important;
  margin: -41px 0 15px 10px;
  left: 0;
}
.heading2 {
  width: 200px;
  color: #2d0658 !important;
  margin: 0px 0 10px 10px;
  margin-left: 27rem;
}
.updatebutton {
  background-color: #4274bf !important;
  border-radius: 360px !important;
  width: 20% !important;
  margin: 20px !important;
}
.cancelbutton {
  background-color: #d64742 !important;
  border-radius: 360px !important;
  width: 20% !important;
  margin: 20px !important;
}
.date {
  width: 36%;
  height: 35px;
  margin: 10px 5px 20px 10px !important;
}
.css-1elh4rt-MuiInputBase-root-MuiOutlinedInput-root {
  border: 1px solid #7d45ba !important;
}
.css-1elh4rt-MuiInputBase-root-MuiOutlinedInput-root {
  color: #7d45ba !important;
}
.css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root {
  border: 1px solid #7d45ba !important;
}
.css-1pysi21-MuiFormLabel-root-MuiInputLabel-root {
  color: #7d45ba !important;
}
/* // best seen at 1500px or less */

html,
body {
  height: 70%;
}
body {
  background: radial-gradient(
    ellipse at center,
    rgba(255, 254, 234, 1) 0%,
    rgba(255, 254, 234, 1) 35%,
    #b7e8eb 100%
  );
  overflow: hidden;
}

.ocean {
  height: 5%;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #015871;
}

.wave {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg)
    repeat-x;
  position: absolute;
  top: -198px;
  width: 6400px;
  height: 198px;
  animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
}

.wave:nth-of-type(2) {
  top: -175px;
  animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite,
    swell 7s ease -1.25s infinite;
  opacity: 1;
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@keyframes swell {
  0%,
  100% {
    transform: translate3d(0, -25px, 0);
  }
  50% {
    transform: translate3d(0, 5px, 0);
  }
}
