.logindisplay {
  height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 10px 10px 10px -10px;
  align-items: center;
  overflow-y: scroll;
  overflow-x: hidden;
}
.logindisplay::-webkit-scrollbar {
  display: none;
}

.avatar {
  margin-top: 10px;
}
.logindisplaypaper {
  display: flex;
  flex-direction: column;
  height: 30%;
  margin: 15px 15px 15px 15px;
  width: 95%;
}
.childdetails {
  display: flex;
  /* flex-direction: column; */
}
.childdetailsentry {
  display: flex;
  flex-direction: column;
  margin: 20px;
  width: 77%;
}
.details {
  display: flex;
  align-items: center;
  margin: 1px;
}
.detailsphone {
  display: flex;
  gap: 20px;
  align-items: center;
  margin: 1px;
}
.heading {
  margin: 0;
}
.profile {
  width: 15px;
  height: 15px;
  margin-right: 20px;
}
p {
  font-size: 15px;
  margin: 0;
}
.updatebutton {
  background-color: #4274bf !important;
  border-radius: 360px !important;
  width: 20% !important;
  margin: 20px !important;
}
.cancelbutton {
  background-color: #d64742 !important;
  border-radius: 360px !important;
  width: 20% !important;
  margin: 20px !important;
  color: white !important;
}
.editdelete {
  display: flex;
  align-items: flex-end;
  justify-content: end;
  margin: -14px 10px -15px 0;
}
.employeenot {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
.giff {
  width: 400px;
  height: 400px;
  overflow: hidden;
}
.heading1 {
  /* width: 200px; */
  color: #2d0658 !important;
  margin-top: -30px;
  /* left: 0; */
}
